<div ng-controller="uCondition.PublicAccess as Ctrl">
    <form name="contentForm"
          novalidate
          val-form-manager>
        <umb-editor-view >
            <div class="umb-editor-header umb-panel-header ng-scope" name="dashboard.name" name-locked="page.nameLocked" tabs="dashboard.tabs" hide-icon="true" hide-description="true" hide-alias="true">

                <div class="umb-panel-header-content-wrapper">

                    <div class="umb-panel-header-content">

                        <div class="umb-panel-header-left-side -top-position" ng-class="{'-top-position': tabs || !icon }">

                            <!-- ngIf: !hideIcon -->

                            <div class="umb-panel-header-title-wrapper">
                                <h2>Protect page</h2>
                            </div>

                            <!-- ngIf: menu.currentNode -->

                        </div>

                        <!-- ngIf: navigation -->

                    </div>


                </div>

                <!-- ngIf: dialogModel.show -->

            </div>

            <div class="umb-pane">
                <div class="abstract">
                    <p>Conditional page protection</p>
                </div>
                <div>
                    <ucondition-editor value="Ctrl.EditorModel.Condition"></ucondition-editor>
                </div>

            </div>
            <div class="umb-pane">
                <div class="abstract">
                    <p>If false, what page should the user be shown?</p>
                </div>
                <div ng-if="editModel != null" class="uConditionContentPicker" ng-class="{'add': Ctrl.EditorModel.FalseActionNodeId == '' || Ctrl.EditorModel.FalseActionNodeId == 0 }">
                    <ucondition-content-picker model="Ctrl.EditorModel.FalseActionNodeId"></ucondition-content-picker>
                </div>
            </div>

            <umb-editor-footer>
                <umb-editor-footer-content-left>
                    <btn class="btn btn-danger pull-left" ng-click="Ctrl.RemoveProtection()">
                        Remove Protection
                    </btn>
                </umb-editor-footer-content-left>

                <umb-editor-footer-content-right>
                    

                    <btn class="btn btn-link" ng-click="nav.hideDialog()">
                        Cancel
                    </btn>
                    <button class="btn btn-primary" ng-click="Ctrl.SaveChanges()">
                        Save Changes
                    </button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>


<style type="text/css">
    #dialog {
        min-width: 680px;
    }

    .uConditionContentPicker {
        background: #f8f8f8;
    padding: 10px 3px 1px;
    border: 1px solid #c8e5fe;
    }
    .uConditionContentPicker.add {
        padding: 10px 3px 10px;
    }
    .uConditionContentPicker.add ul {
        margin:0px !important;
    }
</style>