<div ng-controller="uCondition.PublicAccess as Ctrl">
    <form name="contentForm"
          novalidate
          val-form-manager>
        <umb-editor-view>
            <div class="umb-editor-header umb-panel-header ng-scope" name="dashboard.name" name-locked="page.nameLocked" tabs="dashboard.tabs" hide-icon="true" hide-description="true" hide-alias="true">

                <div class="umb-panel-header-content-wrapper">

                    <div class="umb-panel-header-content">

                        <div class="umb-panel-header-left-side -top-position" ng-class="{'-top-position': tabs || !icon }">

                            <!-- ngIf: !hideIcon -->

                            <div class="umb-panel-header-title-wrapper">
                                <h2>Conditionally protect page</h2>
                                <h5>Configure access to '{{currentNode.name}}'</h5>
                            </div>

                            <!-- ngIf: menu.currentNode -->

                        </div>

                        <!-- ngIf: navigation -->

                    </div>


                </div>

                <!-- ngIf: dialogModel.show -->

            </div>

            <div class="uCondition-pane" style="height:100%;">
                <div class="abstract">
                    <h5>Conditional page protection</h5>
                </div>
                <div ng-if="Ctrl.EditorModel != null">
                    <ucondition-editor value="Ctrl.EditorModel.Condition"></ucondition-editor>
                </div>

                <div class="uCondition-contentpickercontainer">
                    <p>
                        If false, the user should be redirect to:
                        <span ng-if="editModel != null" class="uConditionContentPicker" ng-class="{'add': Ctrl.EditorModel.FalseActionNodeId == '' || Ctrl.EditorModel.FalseActionNodeId == 0 }">
                            <ucondition-content-picker model="Ctrl.EditorModel.FalseActionNodeId"></ucondition-content-picker>
                        </span>
                    </p>
                </div>


                <div class="advancedContainer">
                    <a href="" ng-click="showAdvanced = !showAdvanced">
                        {{!showAdvanced ? 'Show' : 'Hide'}} advanced actions
                        ({{Ctrl.EditorModel.Conditions.length}} configured)
                    </a>
                    <div ng-show="showAdvanced">
                        <h5>Advanced actions</h5>
                        <div>
                            You can add logic here to help decide which error the user should be shown.
                            The action will override the action above if the condition is true.
                        </div>

                        <div class="advancedCondition" ng-repeat="subAction in Ctrl.EditorModel.Conditions">
                            <h6>
                                <a ng-click="Ctrl.Move(Ctrl.EditorModel.Conditions, $index, $index-1)" title="move up"><i class="icon icon-navigation-up"></i></a>
                                <a ng-click="Ctrl.Move(Ctrl.EditorModel.Conditions, $index, $index+1)" title="move down"><i class="icon icon-navigation-down"></i></a>
                                Conditional Action {{$index + 1}}
                                <a ng-click="Ctrl.EditorModel.Conditions.splice($index, 1)" class="removeButton"><i class="icon icon-delete red"></i> remove</a>
                            </h6>
                            <div>
                                <ucondition-editor value="subAction.Condition"></ucondition-editor>
                            </div>

                            <div class="uCondition-contentpickercontainer">
                                <p>
                                    If this condition is true, what page should the user be redirected to?
                                    <span ng-if="editModel != null" class="uConditionContentPicker" ng-class="{'add': subAction.FalseActionNodeId == '' || Ctrl.EditorModel.FalseActionNodeId == 0 }">
                                        <ucondition-content-picker model="subAction.FalseActionNodeId"></ucondition-content-picker>
                                    </span>
                                </p>
                            </div>

                        </div>
                        <div class="uCondition-advanced-buttons">
                            <button class="btn btn-primary" ng-click="Ctrl.AddFalseCondition()">Add Action Condition</button>
                        </div>
                    </div>
                </div>

            </div>

            <umb-editor-footer>
                <umb-editor-footer-content-left>
                    <btn class="btn btn-danger pull-left" ng-click="Ctrl.RemoveProtection()">
                        Remove Protection
                    </btn>
                </umb-editor-footer-content-left>

                <umb-editor-footer-content-right>
                    <button class="btn btn-primary" ng-click="Ctrl.SaveChanges()">
                        Save
                    </button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>


<style type="text/css">
    #dialog {
        min-width: 680px;
    }

    .uCondition-contentpickercontainer {
        margin: 10px;
    }

    .uConditionContentPicker {
        /*background: #f8f8f8;
        padding: 10px 3px 1px;
        border: 1px solid #c8e5fe;*/
        display: inline-block;
    }

        .uConditionContentPicker.add {
            padding: 10px 3px 10px;
        }

            .uConditionContentPicker.add ul {
                margin: 0px !important;
            }

    .advancedContainer {
        margin-top: 10px;
        border: 1px solid #98e4fb;
    }

        .advancedContainer > a {
            display: block;
            background: #e5f8f8;
            border: 0 0 1px 0 solid #98e4fb;
            padding: 10px;
        }

        .advancedContainer > div {
            padding: 10px;
        }

    .uCondition-pane {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 30px 20px;
    }

    .advancedCondition {
        margin-top: 20px;
        padding-top: 10px;
        border-top: 1px solid #d9d9d9;
    }

        .advancedCondition .removeButton {
            border-left: 1px solid #d9d9d9;
            margin-left: 10px;
        }

    .uCondition-advanced-buttons {
        margin-top: 10px;
    }
</style>