<div ng-controller="uCondition.GlobalConditions as Ctrl" id="uCondition_GlobalConditions">

    <h3>
        Global Conditions 
        <button class="btn btn-info pull-right" ng-hide="Ctrl.Conditions.length == 0" ng-click="Ctrl.LoadAllConditions()" ng-disabled="Ctrl.EditIndex >= 0"><i class="icon-refresh"></i> reload</button> 
        <button class="btn pull-right" ng-hide="Ctrl.Conditions.length == 0" style="margin-right:10px;"  ng-disabled="Ctrl.EditIndex >= 0" ng-class="{ 'btn-success' : !Ctrl.CreateMode, 'disabled' : Ctrl.CreateMode}" ng-click="Ctrl.CreateCondition()"><i class="icon-add"></i> create condition</button>
    </h3>

    <table class="table">
        <tbody ng-show="!Ctrl.CreateMode && Ctrl.Conditions.length == 0">
            <tr>
                <td style="color: #a6a7a8;text-align:center;">
                    No conditions have been created yet.<br/>
                    <button class="btn" style="margin-top:10px;" ng-disabled="Ctrl.EditIndex >= 0" ng-class="{ 'btn-success' : !Ctrl.CreateMode, 'disabled' : Ctrl.CreateMode}" ng-click="Ctrl.CreateCondition()">Create you first condition</button>
                </td>
            </tr>
        </tbody>
        <tbody ng-show="!Ctrl.CreateMode" ng-repeat="condition in Ctrl.Conditions">
            <tr class="conditionRow" ng-class="{ 'disabled' : Ctrl.EditIndex >= 0 && Ctrl.EditIndex != $index }">
                <td>{{condition.Condition.Name}}</td>
                <td class="alignRight">
                    <ul class="control-list">
                        <li><button ng-click="Ctrl.EditCondition(condition, $index)"  ng-disabled="Ctrl.EditIndex >= 0" class="btn"  ng-class="{ 'btn-info' : !condition.Editing, 'disabled' : condition.Editing}"><i class="icon icon-edit"></i> edit</button></li>
                        <li><button ng-click="Ctrl.DeleteCondition(condition)" ng-disabled="Ctrl.EditIndex >= 0" class="btn" ng-class="{ 'btn-danger' : !condition.Editing, 'disabled' : condition.Editing}"><i class="icon icon-delete"></i> delete</button></li>
                    </ul>
                </td>
            </tr>
            <tr class="editRow" ng-if="condition.Editing == true" ng-show="condition.Editing == true">
                <td colspan="2">
                    <global-condition-editor model="condition.Condition" accept="Ctrl.SaveCondition(condition)" cancel="Ctrl.CancelCreateCondition(condition)"></global-condition-editor>
                </td>
            </tr>
        </tbody>
        <tbody ng-if="Ctrl.CreateMode" ng-show="Ctrl.CreateMode">
            <tr>
                <td colspan="2" class="editCell">
                    <global-condition-editor model="Ctrl.CreateModel.Condition" accept="Ctrl.SaveCondition(Ctrl.CreateModel)" cancel="Ctrl.CancelCreateCondition(CreateModel)"></global-condition-editor>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<style type="text/css">

    #uCondition_GlobalConditions ul.control-list {
        list-style: none;
        display: inline-block;
        margin: 0;
    }

    #uCondition_GlobalConditions ul.control-list > li {
        display: inline-block;
    }

    #uCondition_GlobalConditions .alignRight {
        text-align: right;
    }

    #uCondition_GlobalConditions .table tbody {
        border-top: 1px solid #dcdcdc;
    }

    #uCondition_GlobalConditions .table tbody > tr.conditionRow {
        color: black;
    background: #f8f8f8;
    /* border-bottom: 1px solid #4d8faf;*/
    }

    #uCondition_GlobalConditions .table tbody > tr.conditionRow.disabled {
        background: #d6d9e0;
        border-color: #d6d9e0;
    }

    #uCondition_GlobalConditions .table tbody > tr.conditionRow > td:first-child {
        padding-top: 12px;
    }

    #uCondition_GlobalConditions .table tbody > tr.editRow {
        border-top: 0px;
    }

    #uCondition_GlobalConditions .table tbody .edit-row-name label {
        padding-right: 5px;
    }

    #uCondition_GlobalConditions .table tbody .edit-row-name input {
        width: 400px;
    }

    #uCondition_GlobalConditions .table tbody > tr > td.editCell > form > div > label {
        padding-right: 10px;
    }

    #uCondition_GlobalConditions .btn-info {
        background: #2e8aea;
    }
</style>