<div ng-controller="uCondition.PredicateGroup as vm">
    <div class="predicateGroup" ng-class="{ 'predicate' : model.Type == 'Predicate' }">
        <div class="left"></div><div class="right"></div>
        <div ng-hide="model.Type == 'Predicate'" class="toolbar">
            <i ng-click="vm.RemoveCondition(container, model)" class="icon-trash"></i>
        </div>

        <div ucondition-vertilize-container ucondition-vertical-centerize class="conditions" ng-if="model.Type == 'PredicateGroup'" ui-sortable="" ng-model="model.Conditions">
            <ucondition-condition ucondition-vertilize ng-repeat="condition in model.Conditions" model="condition" container="model" is-last="$last"></ucondition-condition>
        </div>
        <div class="clear"></div>
        <div ng-show="model.Type == 'PredicateGroup'" class="condition add">
            <div ng-click="vm.AddPredicate(model.Conditions)">
                <i class="icon-add"></i>
            </div>
        </div>

        <div ng-if="model.Type == 'Predicate'" class="conditions">
            <div>
                <div class="conditionType" ng-click="vm.EditPredicate(model)" ng-class="{ unconfigured: model.NeedsConfiguring }">
                    <div class="toolbar">
                        <i ng-click="vm.RemoveCondition(container, model)" class="icon-trash"></i>
                    </div>
                    <div class="name" ng-show="model.Missing"><span style="font-weight: normal;">Unable to find predicate</span> <br />Alias: {{model.Config.Name}}</div>
                    <div class="name" ng-hide="model.Missing">{{model.Invert == true ? "NOT " : ""}}{{model.Config.Name}}</div>
                    <div class="summary" ng-hide="model.Missing" ng-bind-html-unsafe="Ctrl.GetConditionFieldSummary(model)"></div>
                </div>
            </div>
        </div>

    </div>

    <div ng-hide="isLast" class="predicate-group-add condition and">
        <div ng-click="model.RightOperationAnd = !model.RightOperationAnd">
            <i ng-show="model.RightOperationAnd" class="icon-add"></i>
            <i ng-hide="model.RightOperationAnd" class="icon-trafic"></i>
        </div>
    </div>
</div>