<div ng-controller="uCondition as vm" class="row uConditionContainer">
    <div ng-repeat="predicateGroup in vm.Model.PredicateGroups">
        <ucondition-swimlane model="predicateGroup" container="Ctrl.Model" is-last="$last" modal-dialog="Ctrl.ModalDialog" enable-swimlane-delete="Ctrl.Config.EnableAlternativeConditions"></ucondition-swimlane>
    </div>

    <div ng-show="vm.Config.EnableAlternativeConditions" ng-click="vm.AddSwimlane(Ctrl.Model.PredicateGroups)" class="row logicalRow and-or">
        <span style="color:white;background:green;padding: 3px 5px;border-radius: 15px;"><i class="icon-add"></i></span> {{vm.Model.PredicateGroups.length > 0 ? "Add Alternative Condition" : "Add Condition"}}
    </div>
</div>