<div ng-controller="uCondition.PredicateGroup as Ctrl">
    <div class="row logicalRow description" ucondition-contenteditable contenteditable ng-model="model.Description" placeholder="Enter description">
    </div>
    <div class="row logicalRow swimlane">
        <div class="toolbar" ng-show="enableSwimlaneDelete">
            <i ng-click="Ctrl.RemoveSwimlane(container, model)" class="icon-trash"></i>
            <!--<i ng-click="conditionList.UIViewState.EnableDeletePrompt = true" class="icon-trash"></i>-->
        </div>
        <!--<div class="dialogs">
            <umb-confirm-action ng-if="conditionList.UIViewState.EnableDeletePrompt"
                                direction="left"
                                on-confirm="Ctrl.RemoveConditionList($index)"
                                on-cancel="Ctrl.CancelRemoveConditionList(conditionList)">
            </umb-confirm-action>
        </div>-->

        <div ucondition-vertilize-container>
            <div ui-sortable ng-model="model.Conditions" style="display:inline-block;">
                <div class="predicateGroups" ng-repeat="condition in model.Conditions">
                    <ucondition-condition ucondition-vertilize model="condition" container="model" is-last="$last" modal-dialog="modalDialog"></ucondition-condition>
                </div>

                <div ucondition-vertilize style="display:inline-block;">
                    <div class="condition add">
                        <div ng-click="Ctrl.AddPredicate(model.Conditions)">
                            <i class="icon-add"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!--<div ng-show="actionsEnabled" class="row logicalRow swimlane">
        <a style="float:left;" ng-click="Ctrl.AddAction(model)">Add Action</a>
        <div class="predicateGroups">
            <div ng-repeat="action in model.Actions" class="predicateGroup predicate">
                <div class="conditions">
                    <div>
                        <div class="conditionType" ng-click="Ctrl.EditPredicate(action)" ng-class="{ unconfigured: action.NeedsConfiguring }">
                            <div class="name">{{action.Config.Name}}</div>
                            <div class="summary" ng-bind-html-unsafe="Ctrl.GetConditionFieldSummary(action)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <div ng-hide="isLast" class="row logicalRow and-or">
        OR
    </div>
</div>