.umb-el-wrap .uConditionContainer {
    margin-left: -180px;
    padding-top: 34px;
    font-size: 13px;
}

.clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clear {
    display: inline-block;
}

.logicalRow {
    border: 1px solid #f5f2f2;
    padding: 10px;
    border-radius: 0px;
    margin-bottom: 0px;
    margin-top: -1px;
    position: relative;
    background: #d9d9d9;
    min-height: 82px;
}

    .logicalRow.and-or {
        min-height: 0px;
        background: #f8f8f8;
        cursor: pointer;
    }

        .logicalRow.and-or > a {
            color: black;
        }

            .logicalRow.and-or > a > span {
                color: white;
                background: green;
                padding: 3px 5px;
                border-radius: 15px;
                margin-right: 3px;
            }

    .logicalRow.swimlane {
        background: white;
    }

        .logicalRow.swimlane > .toolbar > i:hover {
            color: #940505;
        }

    .logicalRow .toolbar {
        position: absolute;
        top: 0px;
        right: 0px;
        width: auto;
        display: none;
        visibility: hidden;
        font-size: 13pt;
    }


        .logicalRow .toolbar > i {
            margin-left: 5px;
            cursor: pointer;
        }

    .logicalRow.description {
        min-height: 15px;
        background: #f8f8f8;
        cursor: text;
    }

        .logicalRow.description:empty:before {
            content: "";
            display: block; /* For Firefox */
            margin-top: 10px;
            color: #fff;
            transition: color linear 0.7s;
        }

        .logicalRow.description:hover:empty:before {
            content: attr(placeholder);
            display: block; /* For Firefox */
            margin-top: 10px;
            color: #8e8d8d;
        }

    .logicalRow .conditionType {
        border: 1px solid #d9d9d9;
        width: 200px;
        float: left;
        text-align: center;
        background: #fbfbfb;
        transition: ease-in-out 0.2s;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
        cursor: pointer;
    }

        .logicalRow .conditionType.unconfigured {
            background-color: #f7d8d8;
            border-color: #f7d8d8;
        }

        .logicalRow .conditionType > .name {
            font-weight: bold;
        }

        .logicalRow .conditionType > .summary {
            font-size: 9pt;
        }

    .logicalRow .predicateGroup {
        float: left;
        height: 100%;
        display: table;
        position: relative;
        border-radius: 10px;
    }

        .logicalRow .predicateGroup:not(.predicate) > .left {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            border-left: 3px;
            border-right: 0;
            border-style: solid;
            border-top: 0px;
            border-bottom: 0px;
            border-radius: 16px 0px 0px 16px;
            border-color: #cecccc;
            width: 20px;
        }

        .logicalRow .predicateGroup:not(.predicate) > .right {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            border-left: 0;
            border-right: 3px;
            border-style: solid;
            border-top: 0px;
            border-bottom: 0px;
            border-radius: 0px 16px 16px 0px;
            border-color: #cecccc;
            width: 20px;
        }

        .logicalRow .predicateGroup > .toolbar {
            right: 3px;
            top: 3px;
        }

    .logicalRow .predicateGroups {
        display: inline-block;
    }

        .logicalRow .predicateGroups ng-include {
            float: left;
        }

            .logicalRow .predicateGroups ng-include > div {
                float: left;
                height: 100%;
            }

    .logicalRow .predicateGroup.predicate {
        border-width: 0px;
    }

        .logicalRow .predicateGroup.predicate:hover > .toolbar {
            display: none;
        }

    .logicalRow .predicateGroup > .conditions {
        padding: 10px;
        vertical-align: middle;
        display: table-cell;
    }

        .logicalRow .predicateGroup > .conditions > * {
            float: left;
        }

    .logicalRow .condition {
        float: left;
        text-align: center;
        margin: 0 5px;
        min-height: 82px;
        transform: translateY(50%);
        margin-top: -17px;
        height: 100%;
    }

        .logicalRow .condition > div {
            border: 1px solid #eaeaea;
            border-radius: 30px;
            padding: 5px 2px 0px;
            cursor: pointer;
        }

            .logicalRow .condition > div > i {
                font-size: 20pt;
                color: #3a5168;
                transition: ease-in-out 0.2s;
                font-style: initial;
            }

        .logicalRow .condition.add {
            opacity: 0;
            transition: ease-in-out 0.2s;
            transform: translateY(50%);
        }

            .logicalRow .condition.add > div {
                background: rgb(27 38 79);;
                border-color: #fee4e1;
                padding: 5px 3px 0px 3px;
                transition: ease-in-out 0.2s;
            }

                .logicalRow .condition.add > div:hover {
                    background: rgb(27 38 79);
                }

                .logicalRow .condition.add > div > i {
                    cursor: pointer;
                    color: #6797c7;
                    border: 0;
                    color: white;
                }


    /* HOVER STATES */
    .logicalRow:hover > .toolbar {
        display: inline-block;
        visibility: visible;
    }

    .logicalRow .conditionType:hover {
        background: #fbfbfb;
        border-color: #d4d8de;
    }

        .logicalRow .conditionType:hover > .toolbar {
            display: inline-block;
            visibility: visible;
        }

    .logicalRow .predicateGroup:hover > .toolbar {
        display: inline-block;
        visibility: visible;
    }

    .logicalRow .conditionType > .toolbar > i.icon-trash {
        border: 0px solid;
        border-width: 0 0 1px 1px;
        border-color: #dadada;
    }

        .logicalRow .conditionType > .toolbar > i.icon-trash:hover, .logicalRow .predicateGroup > .toolbar > i.icon-trash:hover {
            color: #940505;
        }


    .logicalRow:hover > div > div > div > .condition.add, .predicateGroup:hover > .condition.add {
        opacity: 1;
    }

.predicateGroup:hover {
    background: rgba(193, 193, 193, 0.32);
    transition: ease-in-out 0.2s;
}

.predicateGroup.predicate:hover {
    background: transparent;
    transition: ease-in-out 0.2s;
}

.group .group-title {
    border-bottom: 1px solid #d4d4d4;
    font-size: 14pt;
    padding-bottom: 5px;
    padding-top: 10px;
}

.group .group-options ul {
    list-style: none;
    margin: 0;
}

    .group .group-options ul li {
        padding: 5px;
        background: #f8f8f8;
        border-bottom: 1px solid #d4d4d4;
        cursor: pointer;
        transition: ease-in-out 0.2s;
    }

        .group .group-options ul li > div {
            display: inline-block;
        }

        .group .group-options ul li:hover {
            background: #fbfbfb;
        }

        .group .group-options ul li:last-child {
            border-color: #d4d4d4;
        }

        .group .group-options ul li.selected {
            background: #e6ffe6;
        }

            .group .group-options ul li.selected:hover {
                background: #e0fae0;
            }
